
<div class="row marketing">
  <h4>Notas</h4>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Categoria</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="notas">
        <td colspan="3">Sin datos...</td>
      </tr>
      <tr ng-repeat="nota in notas">
        <td>{{nota.id}}</td>
        <td>{{nota.title}}</td>
        <td>{{nota.body}}</td>
        <td>{{nota.category_id}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <a href="#/nuevanota">Nueva nota</a>.
</div>
