<div>
	<form novalidate class="simple-form">
		<div class="form-group">
			<label for="titulo">Título</label>
			<input type="text" class="form-control" id="titulo" placeholder="Título">
		</div>
		<div class="form-group">
			<label for="nota">Nota</label>
			<input type="text" class="form-control" id="nota" placeholder="Contenido">
		</div>
		<div class="form-group">
			<label for="categoria">Categoria</label>
			<select class="form-control" id="categoria">
				<option value="1">Categoria 1</option>
				<option value="2">Categoria 2</option>
				<option value="3">Categoria 3</option>
			</select>
		</div>
	</form>
</div>